*{
    box-sizing:border-box ;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 30px; */
    
}
.link{
    text-decoration: none;
    color: white;
    padding: 15px;

}
.link1{
    text-decoration: none;
    color: white;
    padding: 2px;

}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #17113f;
    color: white;
    padding: 5px;
    display: flex;
    overflow: hidden;
    top:0;
    position: fixed;
    z-index:9999;
}
.last {
    height: 60px;
    width: 100%;
    background-color: #17113f;
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 25px;
    bottom:0;
    left: 0;
    right: 0;
    }
.nav-logo{
    height: 50px;
    width: 100px;
    margin-right: 200px;
    
}
.logo{
    background-image: url("#");
    background-size: cover;
    height:50px;
    width: 100%;
    

    
}
.box{
    height: 250px;
    width: 500px;
    border:4px solid #17113f;
    background-color:#cbe6cf;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 130px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:3px solid white;
}
.icons{
    text-align: center;
    margin: 6px;
    height: 50px;
    min-width: 100px;
    max-width: auto;
    padding-top: 12px;
    padding-right: 3px;
    padding-left: 3px;
}
.nav-user{
    display: flex;
    text-align: center;
    margin-left:180px ;
    
    width: 110px;
    padding-right: 8px;
    padding-left: 3px;
    padding-top: 15px;
    
}
.sign{
    height: 50px;
    min-width: auto;
    
    
}
.header{
    padding: 40px 20px;
}
#product1{
    text-align:center;
}
#product1 .pro-container{
     display: flex; 
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap;
    
}
#product1 .pro{
    width:23%;
    min-width:150px;
    padding:10px 12px;
    border: 1px solid #cbe6cf;
    border-radius:23px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 0;
    transition: 0.2s ease ;
    position: relative;

}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.08);
}
#product1 .pro img{
    height: 65%;
    width:80%;
    border-radius:18px;
}
#product1 .pro .des{
    text-align: center;
    padding: 10px 0;
}
#product1 .pro .des .span{
    color:#606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}
#product1 .pro i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cfcfd4;
    color: rgb(21, 46, 37);
    border:1px solid rgb(16, 12, 12);
    bottom: 20px;
    right:10px;
    position: absolute;


}
.lab-img{
    margin-top: 100px;
    height: 60vh;
    width: 95vw;
    text-align: center;
    align-items: center;
    margin-left: 30px;

    
}
